<section class="w-full p-4 flex flex-col">
  <header>
    <h1 class="text-3xl font-bold mb-1">Lojas</h1>
    <p class="text-md mb-4 text-gray-800">Aqui você encontrará informações gerais sobre as lojas cadastradas.</p>
  </header>

  <section class="w-full mt-6 rounded-lg">
    <%= form_with url: stores_path, method: :get, class: "flex gap-2" do |form| %>
      <%= form.text_field :search, 
            value: params[:search],
            placeholder: "Pesquise uma loja por nome ou dono",
            class: "w-full px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500" %>
      <%= form.submit "Buscar", 
            class: "px-6 py-2 bg-green-500 text-white rounded hover:bg-gray-900 cursor-pointer transition-colors" %>
    <% end %>
  </section>

  <h2 class="mt-4 text-lg text-gray-800 font-medium">Todas as lojas cadastradas</h2>
  <section class="w-full bg-gray-100 p-4 mt-2 rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 border border-gray-300">
      <thead class="text-xs text-gray-700 uppercase border-b-1 border-gray-300">
        <tr>
          <th scope="col" class="px-6 py-3">Loja</th>
          <th scope="col" class="px-6 py-3">Dono</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @stores.each do |store| %>
          <tr class="odd:bg-gray-50 even:bg-gray-100 border-b border-gray-300">
            <td class="px-6 py-4 font-medium text-gray-900"><%= store.name %></td>
            <td class="px-6 py-4"><%= store.owner %></td>
            <td class="py-4 text-end pr-4 font-bold"><%= link_to "Ver transações", store_path(store.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</section>
