<section class="w-full p-4 flex flex-col">
  <header>
    <h1 class="text-3xl font-bold mb-1">Transações</h1>
    <p class="text-md mb-4 text-gray-800">Aqui você encontrará informações gerais sobre as transações registradas.</p>
  </header>

  <section class="w-full mt-6 rounded-lg">
    <%= form_with url: financial_records_path, method: :get, class: "flex gap-2" do |form| %>
      <%= form.text_field :search, 
            value: params[:search],
            placeholder: "Pesquise uma transação por nome da loja ou CPF",
            class: "w-full px-4 py-2 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500" %>
      <%= form.submit "Buscar", 
            class: "px-6 py-2 bg-green-500 text-white rounded hover:bg-gray-900 cursor-pointer transition-colors" %>
    <% end %>
  </section>

  <h2 class="mt-4 text-lg text-gray-800 font-medium">Todas as transações registradas</h2>
  <section class="w-full bg-gray-100 p-4 mt-2 rounded-lg overflow-auto">
    <%= render 'table', 
      headers: ['Tipo', 'Data', 'CPF', 'Valor', 'Loja', ''] do %>
      <% @financial_records.each do |fr| %>
        <tr class="odd:bg-white even:bg-gray-50 border-b dark:border-gray-700 border-gray-200">
          <td class="px-6 py-4 font-medium text-gray-900"><%= fr.transaction_description %></td>
          <td class="px-6 py-4"><%= fr.formatted_date %></td>
          <td class="px-6 py-4"><%= fr.cpf_number %></td>
          <td class="px-6 py-4"><%= fr.formatted_amount %></td>
          <td class="px-6 py-4"><%= fr.store.name %></td>
          <td class="py-4 text-end pr-4 font-bold">
            <%= link_to "Ver transação", financial_record_path(fr.id) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </section>
  <div class="my-4">
    <%= paginate @financial_records %>
  </div>
</section>
