<section class="w-full p-4 flex flex-col">
  <header>
    <h1 class="text-3xl font-bold mb-1">Envio de Arquivo CNAB</h1>
    <p class="text-md mb-4 text-gray-800">Faça o upload do seu arquivo CNAB.</p>
  </header>

  <% if flash[:success] %>
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-4">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= form_tag uploads_path, multipart: true, class: "space-y-4" do %>
    <div class="mb-4">
      <%= label_tag :file, "Selecione o arquivo:", class: "block font-medium text-gray-700" %>
      <label for="file-upload" class="flex items-center justify-center border border-dotted border-gray-300 rounded-md bg-gray-100 p-4 cursor-pointer">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2M12 4v12m0-12 4 4m-4-4L8 8"/>
        </svg>
        <span class="ml-2 text-gray-700 truncate">Clique para enviar seu arquivo</span>
      </label>
      <%= file_field_tag :file, id: "file-upload", accept: "text/*", class: "hidden" %>
    </div>

    <div>
      <%= submit_tag "Enviar", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded hover:cursor-pointer" %>
    </div>
  <% end %>
</section>
