<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CNABFlow" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200">
    <div class="flex h-screen">
      <aside class="hidden md:block h-screen bg-gray-900 shadow-md w-64 fixed left-0 top-0 bottom-0 overflow-y-auto z-20">
        <div class="border border-b-gray-800 top-0 left-0 right-0 z-30">
          <div class="flex justify-between items-center p-4 py-3">
            <h1 class="ml-2 text-xl text-green-500 font-semibold">CNABFlow</h1>
          </div>
        </div>

        <%= render "layouts/shared/sidebar" %>
      </aside>

      <%= render "layouts/shared/mobile_menu" %>

      <main class="flex w-full h-min-screen md:ml-64">
        <div class="container mx-auto py-6 px-6 w-full h-full">
          <div class="bg-white rounded-lg shadow-md p-6 pb-16 md:p-6">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
  </body>

</html>
